@import "reset";

body {
	font:12px arial;
  background: rgb(224,22,110);
  background: radial-gradient(circle, rgba(224,22,110,1) 0%, rgba(10,88,179,1) 100%);
	text-align:center;
 }
 .well {
  margin-top: 35px;
}

.wrapper1 .sidebar{
  margin:0;
  padding: 0;
  width: 7%;
  background-color: rgba(111, 113, 116, 0.4);
  position: fixed;
  height: 100%;
  overflow: auto;
}
.wrapper1 .sidebar .profile{
  margin-bottom: 4vh;
  text-align: center;
}

.wrapper1 .sidebar .profile img{
  width: 60%;
  height: 60px;
  border-radius: 20%;
  margin: 0 auto;
}

.wrapper1 .sidebar .profile h5{
  color: #1b1b1b;
  margin: 10px 10 5px;
}

.message-content{
  height: 60%;
  width: 100%;
  overflow: hidden visible auto;
  margin:0;
  padding : 0;  
}

